@model IEnumerable<LMS.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h2>Schedule for @ViewBag.groupname</h2>

<canvas id="schedule" class="col-xs-12" style="padding-right: 0; padding-left: 0;"></canvas>

@Html.ActionLink("Back to activities", "Index", "Activities", new { id = ViewBag.groupid }, null)

@section scripts
{
    <script src="https://rawgit.com/maciej-gurban/responsive-bootstrap-toolkit/master/dist/bootstrap-toolkit.min.js"></script>

    <script>

    (function ($, document, window, viewport) {
        $(document).ready(function () {
            drawSchedule(viewport.current());
        });

        $(window).resize(viewport.changed(function () {
            drawSchedule(viewport.current());
        }));

        var mouseX;
        var mouseY;
        var over = false;
        var activityNumber = -1;

        $('#schedule').mousemove(function (e) {
            mouseX = (e.pageX - this.offsetLeft) * (c.height / c.offsetHeight);
            mouseY = (e.pageY - this.offsetTop) * (c.height / c.offsetHeight);
            over = false;

            for (var i = 0; i < activities.length; i++) {
                if (mouseX > activities[i].x1 && mouseX < activities[i].x2 && mouseY > activities[i].y1 && mouseY < activities[i].y2) {
                    $(this).css('cursor','pointer');
                    over = true;
                    if (i != activityNumber) {
                        activityNumber = i;
                        for (j = i + 1; j < activities.length; j++) {
                            activities[j].color = "#ffffff";
                        }
                        activities[activityNumber].color = "#c0ffc0";
                        drawActivities(activities);
                    }
                    else {
                        activities[i].color = "#ffffff";
                    }
                }
            }
            if (over == false && activityNumber != -1)
            {
                activityNumber = -1;
                drawActivities(activities);
                $(this).css('cursor','auto');
            }
        });

        $('#schedule').click(function (e) {
            if (over == true)
            {
                console.log('clicked on activity ' + activities[activityNumber].id);
                var url = '@Url.Action("Details", "Activities")';
                $(location).attr('href', url + '?id=' + activities[activityNumber].id + '&groupid=' + @Model.FirstOrDefault().GroupId);
            }
        });

    }(jQuery, document, window, ResponsiveBootstrapToolkit));

    </script>

    <script>
        var c = document.getElementById("schedule");
        var ctx = c.getContext("2d");
        var topMarginHeight = 40;
        var rightMarginWidth = 10;
        var bottomMarginWidth = 20;
        var scheduleWidth = c.width - leftMarginWidth - rightMarginWidth;
        var scheduleHeight = c.height - topMarginHeight - bottomMarginWidth;
        var fontSize = 20;
        var leftMarginWidth = fontSize * 3.5;
        var hoursInDay = @(ViewBag.last - ViewBag.first);
        var startTime = @ViewBag.first;

        var activities = [];

        var Activity = function(id, x, y, w, h, lm, tm, st, et, ds, c) {
            this.id = id;
            this.x1 = x + lm;
            this.y1 = y + tm;
            this.x2 = x + w + lm;
            this.y2 = y + h + tm;
            this.left = x;
            this.top = y;
            this.width = w;
            this.height = h;
            this.startTime = st;
            this.endTime = et;
            this.description = ds;
            this.color = c;
        };

        function drawSchedule(size) {

            activities = [];

            if(size == 'xs')
                c.width = 768;
            else if(size == 'sm')
                c.width = 992;
            else if(size == 'md')
                c.width = 1200;
            else
                c.width = 1550;

            c.height = 0.8 * c.width;
            scheduleWidth = c.width - leftMarginWidth - rightMarginWidth;
            scheduleHeight = c.height - topMarginHeight - bottomMarginWidth;

            ctx.translate(leftMarginWidth, topMarginHeight);

            var dayOfWeek =
                [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday",
                    "Saturday",
                    "Sunday"
                ];

            ctx.fillStyle = "#ffffff";
            ctx.fillRect(0, -topMarginHeight * 0.75, scheduleWidth, topMarginHeight * 0.75);

            ctx.fillStyle = "#e0e0e0";
            ctx.fillRect(0, 0, scheduleWidth, scheduleHeight);

            ctx.strokeStyle = "#000000";
            ctx.lineWidth = 1;

            ctx.beginPath();
            ctx.moveTo(0, -topMarginHeight * 0.75);
            ctx.lineTo(scheduleWidth, -topMarginHeight * 0.75);
            ctx.stroke();

            ctx.beginPath();
            ctx.moveTo(0, 0);
            ctx.lineTo(scheduleWidth, 0);
            ctx.stroke();

            ctx.beginPath();
            ctx.moveTo(scheduleWidth, -topMarginHeight * 0.75);
            ctx.lineTo(scheduleWidth, scheduleHeight);
            ctx.stroke();

            ctx.beginPath();
            ctx.moveTo(0, scheduleHeight);
            ctx.lineTo(scheduleWidth, scheduleHeight);
            ctx.stroke();

            ctx.fillStyle = "#000000";
            ctx.font = fontSize + "px Times";
            ctx.textAlign = "right";

            for (time = 0; time < hoursInDay + 1; time++) {
                ctx.beginPath();
                ctx.moveTo(-12, time * (scheduleHeight / hoursInDay));
                ctx.lineTo(0, time * (scheduleHeight / hoursInDay));
                ctx.stroke();
                ctx.fillText(timeString(time + startTime, 0), -15, time * (scheduleHeight / hoursInDay) + fontSize * 0.25);

                if (time == hoursInDay)
                    break;

                ctx.beginPath();
                ctx.moveTo(-6, (time + (1 / 3)) * (scheduleHeight / hoursInDay));
                ctx.lineTo(0, (time + (1 / 3)) * (scheduleHeight / hoursInDay));
                ctx.stroke();
                ctx.fillText("20", -15, (time + (1 / 3)) * (scheduleHeight / hoursInDay) + fontSize * 0.25);

                ctx.beginPath();
                ctx.moveTo(-6, (time + (2 / 3)) * (scheduleHeight / hoursInDay));
                ctx.lineTo(0, (time + (2 / 3)) * (scheduleHeight / hoursInDay));
                ctx.stroke();
                ctx.fillText("40", -15, (time + (2 / 3)) * (scheduleHeight / hoursInDay) + fontSize * 0.25);
            }

            for (day = 0; day < 5; day++) {
                ctx.beginPath();
                ctx.moveTo(day * (scheduleWidth / 5), -topMarginHeight * 0.75);
                ctx.lineTo(day * (scheduleWidth / 5), scheduleHeight);
                ctx.stroke();

                ctx.fillStyle = "#000000";
                ctx.font = Math.round(fontSize * 1.25) + "px Times";
                ctx.textAlign = "center";
                ctx.fillText(dayOfWeek[day], (day + 0.5) * (scheduleWidth / 5), -topMarginHeight * 0.5 + fontSize * 0.625, (scheduleWidth) / 5);
            }

            @foreach (var activity in Model)
            {
                var line = string.Format("addActivity({0}, {1}, {2}, {3}, {4}, {5}, \"{6}\");" + Environment.NewLine, activity.Id, (int)activity.Day, activity.StartTime.Hours, activity.StartTime.Minutes, activity.EndTime.Hours, activity.EndTime.Minutes, activity.ActivityType.Name);
                @Html.Raw(line)
            }
            drawActivities(activities);
        };

        function addActivity(id, day, startTimeHour, startTimeMinute, endTimeHour, endTimeMinute, description) {
            var startTimeHeight = (scheduleHeight / hoursInDay) * (startTimeHour - startTime + startTimeMinute / 60);
            var endTimeHeight = (scheduleHeight / hoursInDay) * (endTimeHour - startTime + endTimeMinute / 60);
            var activity = new Activity(
                id,
                day * (scheduleWidth / 5), 
                startTimeHeight,
                scheduleWidth / 5, 
                endTimeHeight - startTimeHeight,
                leftMarginWidth,
                topMarginHeight,
                timeString(startTimeHour, startTimeMinute),
                timeString(endTimeHour, endTimeMinute),
                description,
                "#ffffff"
            );
            activities.push(activity);
        }

        function drawActivities(a)
        {
            for (var i = 0; i < a.length; i++) {
                ctx.fillStyle = a[i].color;
                ctx.fillRect(a[i].left, a[i].top, a[i].width, a[i].height);
                ctx.strokeStyle = "#000000";
                ctx.strokeRect(a[i].left, a[i].top, a[i].width, a[i].height);
            }
            for (i = 0; i < a.length; i++) {
                ctx.font = Math.round(fontSize * 0.75) + "px Times";
                ctx.textAlign = "left";
                ctx.fillStyle = "#ffffff";
                ctx.fillRect(a[i].left + 10, a[i].top - fontSize * 0.5, ctx.measureText(a[i].startTime).width + 10, fontSize);
                ctx.fillRect(a[i].left + a[i].width - ctx.measureText(a[i].endTime).width - 20, a[i].top + a[i].height - fontSize * 0.5, ctx.measureText(a[i].startTime).width + 10, fontSize);
                ctx.fillStyle = "#000000";
                ctx.fillText(a[i].startTime, a[i].left + 15, a[i].top + fontSize * 0.25);
                ctx.fillText(a[i].endTime, a[i].left + a[i].width - ctx.measureText(a[i].endTime).width - 15, a[i].top + a[i].height + fontSize * 0.25);
                ctx.font = Math.round(fontSize * 1.25) + "px Times";
                ctx.textAlign = "center";
                ctx.fillText(a[i].description, a[i].left + a[i].width * 0.5, a[i].top + a[i].height * 0.5 + fontSize * 0.3125, a[i].width);
            }
        }

        function timeString(hour, minute) {
            return ('0' + hour).slice(-2) + ':' + ('0' + minute).slice(-2);
        }

    </script>
}