@model IEnumerable<LMS.Models.ListViewModel>

@{
    ViewBag.Title = "List of teachers and students";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Register new user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
</p>
<table class="table">
    <tr>
        <th>
            <b>@Html.DisplayNameFor(model => model.UserName)</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <b>@Html.DisplayFor(modelItem => item.UserName)</b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id=item.Id })
        </td>
    </tr>
}

</table>
