@model IEnumerable<LMS.Models.UserViewModel>

@{
    ViewBag.Title = "List of teachers and students";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Register new user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) |
        @Html.ActionLink("Manage groups", "Index", "Groups", routeValues: null, htmlAttributes: new { id = "groupLink" })
    </p>
}


@if (Model.Where(g => g.GroupId == null).Count() > 0)
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            <span style="font-size:2em;">Not assigned to group</span>
        </div>
        <table class="table table-condensed table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>

            @foreach (var user in Model.Where(u => u.GroupId == null))
            {
                <tr @(user.Role == LMS.Models.Role.Teacher ? "class=warning" : "")>
                    <td>
                        @Html.DisplayFor(modelItem => user.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Role)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditUser", new { id = user.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
}

@foreach (LMS.Models.Group group in ViewBag.groups)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <span style="font-size:2em;">@group.Name</span>
            <span style="float:right;">
                @if(group.Activities.Count() > 0)
                {
                    @(new MvcHtmlString(@Html.ActionLink("Files", "Index", "Files", new { id = group.Id }, null) + " | "))
                }
                @Html.ActionLink("Activities", "Index", "Activities", new { id = group.Id }, null)
                @if (((LMS.Models.Group)group).Activities.Count() > 0)
                {
                    <span> | </span>
                    @Html.ActionLink("Schedule", "Index", "Schedules", new { id = group.Id }, null)
                }
            </span>
        </div>
        <table class="table table-condensed table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                @if (User.IsInRole("admin"))
                {
                    <th></th>
                }
            </tr>

            @foreach (var user in Model.Where(u => u.GroupId == group.Id))
            {
                <tr @(user.Role == LMS.Models.Role.Teacher ? "class=warning" : "")>
                    <td>
                        @Html.DisplayFor(modelItem => user.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Role)
                    </td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "EditUser", new { id = user.Id })
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}


