@model LMS.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTimeHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTimeHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTimeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTimeMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTimeHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTimeHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTimeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTimeMinutes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
