@model IEnumerable<LMS.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Number of members
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @(item.Users.Count())
        </td>
        <td>
            @Html.ActionLink("Activities", "Index", "Activities", new { id = item.Id }, null) |
            @{ if (item.Activities.Count() > 0) { @(new MvcHtmlString(Html.ActionLink("Show schedule", "Index", "Schedules", new { id = item.Id }, null) + " | ")); } }
            @Html.ActionLink("Rename", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
