@using Microsoft.AspNet.Identity
@model LMS.Models.File    

@{
    ViewBag.Title = "Details";
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}

<h2>Comments</h2>
<hr />

@if (Model.Comments.Count() > 0)
{
    <table class="table">
        @foreach (var comment in Model.Comments.OrderBy(c => c.TimeStamp))
        {
            <tr class="row">
                <td class="col-xs-2 text-right">
                    @if (comment.UserId == User.Identity.GetUserId())
                    {
                        <span style="cursor:pointer;" data-toggle="tooltip" title="Written at @comment.TimeStamp" class="label @(comment.UserId == Model.UserId ? "label-primary" : "label-success")">
                            <b>You:</b>
                        </span>
                    }
                    else
                    {
                        <span style="cursor:pointer;" data-toggle="tooltip" title="Written at @comment.TimeStamp" class="label @(comment.UserId == Model.UserId ? "label-primary" : "label-warning")">
                            <b>@comment.User.FullName:</b>
                        </span>
                    }
                </td>
                <td class="col-xs-10">
                    @comment.Content
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>No comments!</h4>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-sm-offset-2 col-sm-10">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.TextArea("Content", null, htmlAttributes: new { @class = "form-control", rows="5", placeholder="Write a comment..." })
                <input type="submit" value="Add comment" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.GroupId })
</p>
