@model IEnumerable<LMS.Models.File>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("User name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsShared)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadableFileSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityType.Name)
        </td>
        <td>
            @Html.ActionLink(item.FileName, "Download", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsShared)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadableFileSize)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details (" + item.Comments.Count() + ")", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
